<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" >
    <link rel="stylesheet" href="../static?file=base.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <h1>登录</h1>
        <form action="/login" method="post" class="pure-form pure-form-stacked">
            <label for="username">用户名</label>
            <input id="username" type="text" name="username" placeholder="请输入用户名" class="pure-input-1">
            <label for="password">密码</label>
            <input id="password" type="password" name="password" placeholder="请输入密码" class="pure-input-1">
            <br>
            <button type="submit" class="pure-button pure-input-1 pure-button-primary">登录</button>
        </form>
    </div>
</body>
</html>